html, body,
.ng-scope {
    width: 100%;
    height: 100%;
}

/* Login page style classes */
.loginPage {
    width: 100%;
    height: 100%;
}

.loginPageTitle {
    padding: 50px 0;
    text-align: center;
}

.loginPagePromptForm {
    margin: auto;
    width: 350px;
}

.loginPagePromptForm > .form-group {
    display: flex;
}

.loginPagePromptInput {
    margin-right: auto;
    width: 250px;
}

/* Rooms page style classes */
.roomsList {
    width : 100%;
    height: 100%;
}

.roomsListItem {
    width: 100%;
    height: auto;
    text-align: center;
}